body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  font-family: arial, sans-serif;
}

/* ---------- NAVBAR ----------- */

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 1.2rem;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.8rem;
}

a:hover {
  text-decoration: underline;
  opacity: 0.85;
}

/* ---------- MAIN CONTENT ----------- */

main {
  margin: 25vh auto 0;
  text-align: center;
  width: 60%;
  flex: 1;
}

input {
  padding: 0.8rem;
  margin: 1.2rem;
  width: 65%;
  border-radius: 1rem;
  color: rgba(0, 0, 0, 0.87);
  border-color: rgba(0, 0, 0, 0.1);
  outline: none;
}

input:hover {
  box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

button {
  border: none;
  padding: 0.8rem;
  background-color: #f2f2f2;
  outline-style: none;
  border-radius: 0.4rem;
  color: #222;
  cursor: pointer;
}

button:first-of-type {
  border: 1px solid #c6c6c6;
}

button:nth-last-child(1) {
  color: #5f6368;
}

button:nth-last-child(1):hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #c6c6c6;
  border-radius: 0.4rem;
  color: #222;
}

form p {
  font-size: small;
  margin-top: 1.5rem;
}

form a {
  color: #1a0dab;
}

form a:visited {
  color: #609;
}

/* ---------- FOOTER ----------- */

footer {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.54);
  color: #5f6368;
  background-color: #f2f2f2;
  font-size: 0.9rem;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

footer p {
  padding-left: 1.2rem;
}

footer ul {
  padding: 0;
}

.footbar {
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.footbar li {
  margin: 0 1rem;
}

.footbar li:hover {
  text-decoration: underline;
}
