body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* ---------- NAVBAR ----------- */

nav {
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style: none;
  display: flex;
}

li {
  margin: 0 1.2rem;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.8rem;
  font-family: arial, sans-serif;
}

a:hover {
  text-decoration: underline;
  opacity: 0.85;
}

/* ---------- MAIN CONTENT ----------- */

main {
  margin: 25vh auto 0;
  text-align: center;
  width: 60%;
  flex: 1;
}

input {
  padding: 0.8rem;
  margin: 1.2rem;
  width: 65%;
  border-radius: 1rem;
  color: rgba(0, 0, 0, 0.87);
  border-color: rgba(0, 0, 0, 0.1);
  outline: none;
}

input:hover {
  box-shadow: 1px 0px 2px 1px rgba(0, 0, 0, 0.1);
}

button {
  border: none;
  padding: 0.8rem;
  background-color: #f2f2f2;
  outline-style: none;
  border-radius: 0.4rem;
}

button:hover {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid #c6c6c6;
  border-radius: 0.4rem;
}

/* ---------- FOOTER ----------- */

footer {
  display: flex;
  flex-direction: column;
  color: rgba(0, 0, 0, 0.54);
  background-color: #f2f2f2;
  font-size: 1.1rem;
}

.footbar {
  display: flex;
}

.footbar li:hover {
  text-decoration: underline;
}

footer,
.footbar {
  border: 1px solid rgba(0, 0, 0, 0.1);
}
